body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    background-image: url('../Images/FullSizeRender.jpg'); 
    background-size: cover;
    background-position: center;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

.menu-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    display: none;
}

.menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #007bff; 
    width: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.menu a {
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #0056b3; 
}

section#login {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #0d0485;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #210fc5;
}

.hamburger {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .line-1,
.hamburger .line-2,
.hamburger .line-3 {
    width: 100%;
    height: 2px;
    background-color: #007bff; 
    margin: 4px 0; 
    transition: transform 0.4s; 
}

.hamburger.active .line-1 {
    transform: translateY(9.6px) rotate(45deg);
}

.hamburger.active .line-2 {
    transform: rotate(45deg);
}

.hamburger.active .line-3 {
    transform: translateY(-9.6px) rotate(-45deg);
}
